---
import { Picture } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Hummer and Curly";
const description = "Photos of cute cats";
---

<style>
  .spacer {
    margin-bottom: 1em;
  }
</style>

<BaseLayout title={title} description={description} current="cats">
  <div class="container">
    <Picture
      src={import("../../images/hummer-bed.jpg")}
      densities={[1, 1.5, 2, 3]}
      width={640}
      alt="sleepy cat"
    />

    <div class="spacer"></div>

    <Picture
      src={import("../../images/curly-spotlight.jpg")}
      densities={[1, 1.5, 2, 3]}
      width={640}
      alt="meow!"
    />

    <div class="spacer"></div>

    <Picture
      src={import("../../images/curly-lookout.jpg")}
      densities={[1, 1.5, 2, 3]}
      width={640}
      alt="spotlight"
    />
  </div>
</BaseLayout>

<style>
  hr {
    margin: 60px auto;
  }
</style>
